.App {
  text-align: center;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  font-size: 20px;
  background-color: #344061;
  color: #ffffff;
  font-weight: 700;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer > a {
  padding-right: 5px;
  padding-left: 5px;
}

.footer img {
  height: 35px;
}

.candidates {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
}

.biden,
.trump {
  font-size: 20px;
}

.biden {
  color: #576ca2;
}

.trump {
  color: #e15148;
}

.national {
  font-size: 24px;
  margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
  .candidates {
    grid-template-columns: 150px 150px;
  }

  .biden,
  .trump {
    font-size: 16px;
  }

  .national {
    font-size: 20px;
    margin-bottom: 0;
  }
}
