@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  text-align: center;
  height: 100%;
}

.header {
  font-size: 20px;
  background-color: #344061;
  color: #ffffff;
  font-weight: 700;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 15px;
}

.footer > a {
  padding-right: 5px;
  padding-left: 5px;
}

.footer img {
  height: 50px;
}

.table {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  column-gap: 20px;
  row-gap: 8px;
  justify-content: center;
  text-align: left;
  font-size: 20px;
}

.state {
  text-align: center;
  grid-column: 1/2;
}

.state-header {
  text-align: center;
}

.table-header {
  text-align: center;
  margin-bottom: 15px;
}

.year-2020 {
  grid-column: 2/3;
}

.circle-2020 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 3px;
  left: 4px;
}

.national-row {
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(3, 140px);
  column-gap: 20px;
}

.margin {
  text-align: center;
  font-family: 'Roboto Mono';
}

.blue-background {
  background-color: #576ca2;
}

.red-background {
  background-color: #e15148;
}

.blue {
  color: #576ca2;
}

.red {
  color: #e15148;
}

.national {
  font-size: 26px;
  margin-bottom: 0;
}

@media only screen and (max-width: 500px) {
  .table-header {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .table {
    grid-template-columns: 130px 100px 100px;
    column-gap: 10px;
  }

  .national-row {
    grid-template-columns: 130px 100px 100px;
    column-gap: 10px;
  }

  .footer img {
    height: 35px;
  }
}

/* LOADER */
.loader {
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #576ca2;
  border-color: #576ca2 transparent #576ca2 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
